@using EnglishCenter.Models;
@model List<TopicPost>

@foreach (var item in Model)
            {
    @*<a href="@Url.Action("BrandCus", new {@id=item.BrandID })"> @item.BName</a>*@
   
        <li><a href="@Url.Action("IndexTopicPostClient","Contents", new {id=item.TopicPostID })">@item.TopicName</a></li>
}

